body {
    background-image: url('../img/7.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: end;
}

nav a {
    color: rgb(243, 238, 238);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 20px;
    background-color: #479191;
    border-radius: 10px;
    padding: 20px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: #696554 5px solid;
    background: #479191;
    opacity: 0.9;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10%;
    border: #dbdbdb 5px solid;
    width: 400px;
    height: 300px;
    position: relative;
    right: auto;
}

p {
    font-family: arial; font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

div a {
    border-radius: 30px;
    background-color: #479191;
    padding: 30px;
    font-family: arial; font-size: 20px;
    padding-left: center;
    padding-right: center;
    color: white;
    margin: 20px;
    margin-left: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
    opacity: 0.7;
    text-decoration: none;
}

div a:hover {
    background-color: #d41464;
    opacity: 1;
}

iframe {
    font-family: arial; font-size: 15px; color: white;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 30px;
    position: relative;
    left: 35%;
    }

h2 {
    font-family: 'Arial Black', Arial, sans-serif; font: 20px; font-style: normal; color: rgb(156, 129, 129); font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    background-color: aquamarine;
    border-radius: 50px;
    opacity: 0.9;
}

article p {
    font-family: arial; font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: justify;
}

legend {
    font-family: 'Arial Black', Arial, sans-serif; font-size: 30px; font-style: normal; color: rgb(8, 31, 240);
    text-align: center;
    margin-top: 20px;
    margin-left: center;
    border-radius: 10px;
    padding: 10px;
}

footer {
    font-family: arial; font-size: 15px; color: rgb(67, 192, 28);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}   